{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "no-console": "off",
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": "off",
        "no-undef": "off",
        "no-useless-escape": "off"
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended"
}