
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img,
embed,
object,
video {
    margin: 0;
    max-width: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    display: grid;
  }

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f18200;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}

#footer {
  background-color: #252831;
  color: #aaa;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  height: 80px;
  background-color: #252831;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

nav h1 {
  margin: 0;
}

nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 15px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;

}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: calc(100vh - 100px - 110px);
  width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
#filter-section {
  height: 100px;
  padding: 5px;
  background-color: #1f72aa;
  display: grid;
  align-items: center;
}

#filter-section h2 {
  padding: 5px 0 0 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0;
  font-weight: normal;
}

#filter-section .filter-options {
  display: flex;
}

#filter-section .filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  height: 48px;
  margin: 10px;
  padding: 0 0 0 10px;
  width: 50%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  margin: 0!important;
}
#restaurants-list li {
  padding: 10px;
  background-color: #fff;
  display: grid;
  text-align: center;
  word-break: break-word;
}

#restaurants-list .restaurant-img {
  overflow: auto;
  border-radius: 20px 0 20px 0;
}
#restaurants-list li h1 {
  color: #B15F02;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  margin: 20px 0;
  text-transform: uppercase;

}
#restaurants-list p {
  font-size: 16px;
  margin: 0;
}
#restaurants-list li a {
  background-color: #B15F02;
  color: #fff;
  font-size: 16px;
  margin: 15px 0 0 0;
  height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px 0 20px 0;
  display: grid;
  align-content: center;
}

/* ====================== Restaurant Details ====================== */

#restaurant-content {
  display: grid;
  padding: 10px;
}

#restaurant-content #map{
  width: calc(100% - 20px);
  padding: 10px;
  height: 30vh;
}

#restaurant-container {

}

#restaurant-name {
  text-align: center;
  color: #B15F02;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 10px;
}
#restaurant-img {
  overflow: auto;
  border-radius: 20px 0 20px 0;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 10px 0 20px 0;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-address {
  padding: 0 20px;
}

#restaurant-hours {
  padding: 0 20px 20px;
}
#restaurant-hours td {
  color: #666;
}

#reviews-container {

}
#reviews-container {

}
#reviews-container h2 {
  color: #B15F02;
  text-align: center;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 20px;
  border-radius: 20px 0 20px 0;
  padding: 20px;
}
#reviews-list li p {
  margin: 0 0 10px;
}
